@{
    ViewBag.Title = "产品RoadMap";
}
<div class="aui-content" style="padding: 15px;">
    <ul class="aui-timeline">
        <li class="aui-time-label">
            <span class="aui-bg-info">
                2016年
            </span>
        </li>
        <li>
            <div class="aui-time-label aui-bg-info">05-29</div>
            <div class="aui-timeline-item">
                <span class="aui-timeline-time"><i class="aui-iconfont aui-icon-tagfill"></i> V3.8</span>
                <h3 class="aui-timeline-header">提供微信Demo</h3>
                <div class="aui-timeline-body aui-text-info">
                    <ul>
                        <li>微相册、会员中心等</li>
                        <li>优化百万粉丝同步性能</li>
                        <li>……</li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="aui-time-label aui-bg-info">05-06</div>
            <div class="aui-timeline-item">
                <span class="aui-timeline-time"><i class="aui-iconfont aui-icon-tagfill"></i> V3.7</span>
                <h3 class="aui-timeline-header">前端框架封装与完善，大量更新</h3>
                <div class="aui-timeline-body aui-text-info">
                    <ul>
                        <li>wc_weichat.js（JSSSDK封装）完善</li>
                        <li>增加mwc_business.js</li>
                        <li>……</li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="aui-time-label aui-bg-info">04-05</div>
            <div class="aui-timeline-item">
                <span class="aui-timeline-time"><i class="aui-iconfont aui-icon-tagfill"></i> V3.6</span>
                <h3 class="aui-timeline-header">微信前端框架封装</h3>
                <div class="aui-timeline-body aui-text-info">
                    <ul>
                        <li>添加wc.js</li>
                        <li>添加wc_weichat.js</li>
                        <li>添加TenantManager</li>
                        <li>……</li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="aui-time-label aui-bg-info">03-01</div>
            <div class="aui-timeline-item">
                <span class="aui-timeline-time"><i class="aui-iconfont aui-icon-tagfill"></i> V3.3</span>
                <h3 class="aui-timeline-header">自定义菜单接口封装</h3>
                <div class="aui-timeline-body aui-text-info">
                    <ul>
                        <li>添加CsvFileResult</li>
                        <li>添加content-choice-button组件</li>
                        <li>封装自定义菜单获取接口</li>
                        <li>……</li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="aui-time-label aui-bg-info">02-21</div>
            <div class="aui-timeline-item">
                <span class="aui-timeline-time"><i class="aui-iconfont aui-icon-tagfill"></i> V3.0</span>
                <h3 class="aui-timeline-header">多租户支持</h3>
                <div class="aui-timeline-body aui-text-info">
                    <ul>
                        <li>支持多租户</li>
                        <li>添加租户相关功能</li>
                        <li>完善微信配置管理器</li>
                        <li>……</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="aui-time-label">
            <span class="aui-bg-info">
                2015年
            </span>
        </li>
        <li>
            <div class="aui-time-label aui-bg-info">12-28</div>
            <div class="aui-timeline-item">
                <span class="aui-timeline-time"><i class="aui-iconfont aui-icon-tagfill"></i> V2.4</span>
                <h3 class="aui-timeline-header">后端框架完善</h3>
            </div>
        </li>
        <li>
            <div class="aui-time-label aui-bg-info">11-01</div>
            <div class="aui-timeline-item">
                <span class="aui-timeline-time"><i class="aui-iconfont aui-icon-tagfill"></i> V2.3</span>
                <h3 class="aui-timeline-header">前端框架封装（mwc.js）</h3>
            </div>
        </li>
        <li>
            <div class="aui-time-label aui-bg-info">10-15</div>
            <div class="aui-timeline-item">
                <span class="aui-timeline-time"><i class="aui-iconfont aui-icon-tagfill"></i> V2.2</span>
                <h3 class="aui-timeline-header">开始封装WeChat SDK</h3>
            </div>
        </li>
        <li>
            <div class="aui-time-label aui-bg-info">10-07</div>
            <div class="aui-timeline-item">
                <span class="aui-timeline-time"><i class="aui-iconfont aui-icon-tagfill"></i> V2.0</span>
                <h3 class="aui-timeline-header">微信基础封装以及代码基架</h3>
            </div>
        </li>
        <li>
            <div class="aui-time-label aui-bg-info">09-15</div>
            <div class="aui-timeline-item">
                <span class="aui-timeline-time"><i class="aui-iconfont aui-icon-tagfill"></i> V1.8</span>
                <h3 class="aui-timeline-header">WeChatOAuth</h3>
            </div>
        </li>
        <li>
            <div class="aui-time-label aui-bg-info">08-01</div>
            <div class="aui-timeline-item">
                <span class="aui-timeline-time"><i class="aui-iconfont aui-icon-tagfill"></i> V1.3</span>
                <h3 class="aui-timeline-header">微信服务器事件处理</h3>
            </div>
        </li>
        <li>
            <div class="aui-time-label aui-bg-info">07-07</div>
            <div class="aui-timeline-item">
                <span class="aui-timeline-time"><i class="aui-iconfont aui-icon-tagfill"></i> V1.0</span>
                <h3 class="aui-timeline-header">框架搭建以及基础业务编写</h3>
            </div>
        </li>
    </ul>
</div>