/*Job-Description
------------------------------------*/
.job-description {
    background: #f9f9f9;
    position: relative;
}

/*Visit*/

.job-description .visit {
    margin-bottom: 30px;
    text-align: center;
}

.job-description .visit h2 {
    font-size: 25px;
    text-transform: uppercase;
}

/*Left-Inner*/

.job-description .left-inner {
    background: #fff;
    padding: 20px;
    position: relative;
}

.job-description .position-top {
    left: 20px;
    position: absolute;
    top: 20px;
}

.job-description .social-icons { float: right; }

.job-description .position-top i {
    color: #777;
    font-size: 18px;
    margin-right: 6px;
    min-width: 28px;
    padding: 5px 4px;
    position: relative;
    text-align: center;
    top: 5px;
}

.job-description .position-top i:hover {
    background: #585f69;
    color: #fff;
}

/*Circle in Responsive*/

@media (max-width: 550px) {
    .job-description .position-top { display: none; }
}

.job-description .left-inner img {
    border: 1px solid #eee;
    float: right;
    height: 80px;
    margin: 0 0 10px 10px;
    padding: 3px;
    width: 80px;
}

.job-description .left-inner h3 { margin: 0 0 5px; }

.job-description .left-inner p.hex { margin-bottom: 5px; }

.job-description .star-vote { margin-right: 5px; }

.job-description .star-vote li { padding: 0; }

/*Progresses*/

.job-description .progression span {
    float: right;
    margin: -8px 0 0 15px;
    width: 150px;
}

/*Overview*/

.job-description .overview i {
    background: #585f69;
    color: #fff;
    float: right;
    font-size: 20px;
    margin-left: 10px;
    min-width: 38px;
    padding: 10px 3px;
    text-align: center;
}

/*Colorful-ul*/

.job-description .colorful-ul li a { color: #72c02c; }

/*Copyright-v2
------------------------------------*/

.copyright-v2 {
    background: #f9f9f9;
    padding: 10px 0;
}