/*----------------------------------------------------------------------

[-----*** TABLE OF CONTENT ***-----]

1. Header - Topbar
2. Header - Shop Badge
3. Header - Navbar
4. Header - Responsive Navbar Style
4. Header - Submenu
5. Header - Mega Menu
6. Header - Fixed
7. Header - Fixed Boxed

-----------------------------------------------------------------------*/


/*--------------------------------------------------
    [1. Header - Topbar]
----------------------------------------------------*/

/*Top Bar v3 (currency, language, account etc.)
------------------------------------*/
.topbar-v3 {
    background: #2a2a2a;
    padding: 3px 0;
    position: relative;
    z-index: 99;
}

@media (max-width: 768px) {
    .topbar-v3 .left-topbar,
    .topbar-v3 .right-topbar {
        float: none !important;
        text-align: center;
    }
}

/*Left Top Bar*/

.topbar-v3 ul.left-topbar {
    margin-bottom: 1px;
    padding-left: 0;
}

.topbar-v3 ul.left-topbar > li {
    display: inline;
    list-style: none;
    margin-right: 15px;
    padding-bottom: 15px;
    position: relative;
}

.topbar-v3 ul.left-topbar > li > a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.topbar-v3 ul.left-topbar > li > a:hover { cursor: pointer; }

/*Currency & Language*/

.topbar-v3 ul.currency,
.topbar-v3 ul.language {
    background: #2a2a2a;
    display: none;
    left: -5px;
    list-style: none;
    min-width: 125px;
    padding: 4px 0;
    padding-left: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
}

@media (max-width: 768px) {
    .topbar-v3 ul.currency,
    .topbar-v3 ul.language { top: 20px; }
}

.topbar-v3 li:hover ul.currency,
.topbar-v3 li:hover ul.language { display: block; }

.topbar-v3 ul.currency:after,
.topbar-v3 ul.language:after {
    border-bottom: 6px solid #2a2a2a;
    border-left: 6px solid transparent;
    border-left-style: inset; /*FF fixes*/
    border-right: 6px solid transparent;
    border-right-style: inset; /*FF fixes*/
    content: " ";
    display: block;
    height: 0;
    left: 8px;
    position: absolute;
    top: -4px;
    width: 0;
}

.topbar-v3 ul.currency li a,
.topbar-v3 ul.language li a {
    color: #d1d1d1;
    display: block;
    font-size: 10px;
    margin-bottom: 1px;
    padding: 2px 12px;
    text-transform: uppercase;
}

.topbar-v3 ul.currency li.active a i,
.topbar-v3 ul.language li.active a i {
    color: #d1d1d1;
    float: right;
    margin-top: 2px;
}

.topbar-v3 ul.currency li a:hover,
.topbar-v3 ul.language li a:hover,
.topbar-v3 ul.currency li.active a,
.topbar-v3 ul.language li.active a { background: #333; }

.topbar-v3 ul.currency li a:hover,
.topbar-v3 ul.language li a:hover { text-decoration: none; }

/*Right Top Bar*/

.topbar-v3 .right-topbar { margin-bottom: 1px; }

.topbar-v3 .right-topbar li { margin-left: 3px; }

.topbar-v3 .right-topbar li:first-child { margin-left: 0; }

.topbar-v3 .right-topbar li,
.topbar-v3 .right-topbar li a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

/*Search*/

.topbar-v3 .search {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
}

.topbar-v3 .search:hover { color: #bbb; }

.topbar-v3 .search-open {
    background: #333;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
}

.topbar-v3 .search-open .container { position: relative; }

.topbar-v3 .search-open .search-close {
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}

.topbar-v3 .search-open .form-control {
    background: #333;
    border: none;
    color: #eee;
    font-weight: 200;
    min-height: 35px;
    padding: 0;
}

.topbar-v3 .search-open .form-control:focus { box-shadow: none; }

.topbar-v3 .search-open .form-control::-moz-placeholder {
    color: #eee;
    font-weight: 200;
}

.topbar-v3 .search-open .form-control:-ms-input-placeholder {
    color: #eee;
    font-weight: 200;
}

.topbar-v3 .search-open .form-control::-webkit-input-placeholder {
    color: #eee;
    font-weight: 200;
}


/*--------------------------------------------------
    [2. Header - Shop Badge]
----------------------------------------------------*/

/*Badge Lists*/

.header-v5 .shop-badge.badge-lists { margin-bottom: 0; }

.header-v5 .shop-badge.badge-lists li { position: relative; }

.header-v5 .shop-badge.badge-lists > li {
    margin-left: 20px;
    padding: 27px 15px 25px 25px;
}

.header-v5 .shop-badge.badge-lists span.badge {
    position: absolute;
    right: 3px;
    top: 20px;
}

@media (max-width: 991px) {
    .header-v5 .shop-badge { display: none; }
}

/*Badge Icons*/

.header-v5 .shop-badge.badge-icons span.badge {
    min-width: 12px;
    padding: 3px 6px;
}

.header-v5 .shop-badge.badge-icons i {
    color: #555;
    font-size: 24px;
    min-width: 25px;
}

/*Badge*/

.header-v5 .shop-badge span.badge {
    font-weight: 400;
    padding: 4px 7px;
}

.header-v5 .shop-badge span.badge-sea { background: #72c02c; }

/*Scrollbar*/

.header-v5 .mCustomScrollbar { height: 400px; }

/*Badge Open*/

.header-v5 ul.shop-badge > li { position: relative; }

.header-v5 ul.shop-badge > li:hover .badge-open { display: block; }

.header-v5 .badge-open {
    -moz-box-shadow: 0 2px 2px 0px rgba(90, 90, 90, 0.075);
    -webkit-box-shadow: 0 2px 2px 0px rgba(90, 90, 90, 0.075);
    background: #fff;
    border-top: 2px solid #72c02c;
    box-shadow: 0 5px 5px 0px rgba(90, 90, 90, 0.075);
    display: none;
    list-style: none;
    min-width: 300px;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 78px;
}

.header-v5 .badge-open li {
    border-top: 1px solid #dedede;
    margin-top: 15px;
    padding-top: 15px;
}

.header-v5 .badge-open li:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 20px;
}

.header-v5 .badge-open li:after,
.header-v5 .badge-open li:before {
    content: " ";
    display: table;
}

.header-v5 .badge-open li:after { clear: both; }

.header-v5 .badge-open img {
    float: left;
    height: auto;
    margin-right: 15px;
    width: 100px;
}

.header-v5 .badge-open .close { line-height: 1.9; }

.header-v5 .badge-open span {
    color: #555;
    display: block;
    font-size: 14px;
    margin: 7px 0;
}

.header-v5 .badge-open small {
    color: #999;
    font-size: 14px;
}

/*Subtotal*/

.header-v5 li.subtotal { padding: 3px 0 20px; }

.header-v5 li.subtotal span {
    color: #555;
    display: inline-block;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
}

.header-v5 li.subtotal .subtotal-cost { color: #72c02c; }

.header-v5 li.subtotal .btn-u { font-size: 12px; }

.header-v5 li.subtotal .col-xs-6:first-child { padding-right: 8px; }

.header-v5 li.subtotal .col-xs-6:last-child { padding-left: 8px; }


/*--------------------------------------------------
    [3. Header - Navbar]
----------------------------------------------------*/

/*Navbar*/

.header-v5 {
    border-bottom: solid 2px #eee;
    position: relative;
    z-index: 99;
}

.header-v5 .navbar { margin: 0; }

@media (max-width: 991px) {
    .header-v5 .navbar { margin-top: 10px; }
}

.header-v5 .navbar-default {
    background: none;
    border: none;
}

/*Navbar Header*/

@media (max-width: 991px) {
    .header-v5 .navbar-header { margin-bottom: 7px; }
}

@media (min-width: 993px) and (max-width: 999px) {
    .header-v5 .navbar-header { margin-top: 15px; }
}

.header-v5 .navbar-brand {
    padding: 18px 10px 10px 15px;
    z-index: 1;
}

@media (max-width: 998px) {
    .header-v5 .navbar-brand { margin-top: -15px; }
}

.header-v5 .navbar-default .navbar-toggle {
    border: none;
    color: #333;
    font-size: 19px;
    margin-top: 10px;
}

.header-v5 .navbar-default .navbar-toggle .icon-bar { background: #222; }

.header-v5 .navbar-default .navbar-toggle:hover,
.header-v5 .navbar-default .navbar-toggle:focus { background: inherit; }

/*Navbar Collapse*/

.header-v5 .navbar-collapse { position: relative; }

/*Navbar Nav set to centre*/

@media (min-width: 992px) {
    .header-v5 .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
    }
}

/*Navbar Menu*/

.header-v5 .navbar-default .navbar-nav > li > a {
    color: #555;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.header-v5 .navbar-default .navbar-nav > .active > a { color: #72c02c; }


/*--------------------------------------------------
    [4. Header - Responsive Navbar Style]
----------------------------------------------------*/

/*Responsive Navbar*/

@media (max-width: 991px) {
    /*Responsive code for max-width: 991px*/
    .header-v5 .navbar-header { float: none; }

    .header-v5 .navbar-toggle { display: block; }

    .header-v5 .navbar-collapse.collapse { display: none !important; }

    .header-v5 .navbar-collapse.collapse.in {
        display: block !important;
        overflow-y: auto !important;
    }

    .header-v5 .navbar-nav {
        float: none !important;
        margin: 0;
    }

    .header-v5 .navbar-nav > li { float: none; }

    .header-v5 .navbar-nav > li > a {
        padding-bottom: 40px;
        padding-top: 30px;
    }

    /*Pull Right*/
    .header-v5 .dropdown-menu.pull-right { float: none !important; }

    /*Dropdown Menu Slide Down Effect*/
    .header-v5 .navbar-nav .open .dropdown-menu {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        float: none;
        margin-top: 0;
        position: static;
        width: auto;
    }

    .header-v5 .navbar-nav .open .dropdown-menu > li > a,
    .header-v5 .navbar-nav .open .dropdown-menu .dropdown-header { padding: 5px 15px 5px 25px; }

    .header-v5 .navbar-nav .open .dropdown-menu > li > a { line-height: 20px; }

    .header-v5 .navbar-nav .open .dropdown-menu > li > a:hover,
    .header-v5 .navbar-nav .open .dropdown-menu > li > a:focus { background-image: none; }

    .header-v5 .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #777; }

    .header-v5 .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .header-v5 .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: transparent;
        color: #333;
    }

    .header-v5 .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .header-v5 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .header-v5 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #e7e7e7;
        color: #555;
    }

    .header-v5 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .header-v5 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .header-v5 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        background-color: transparent;
        color: #ccc;
    }

    .header-v5 .navbar-default .dropdown-menu.no-bottom-space { padding-bottom: 0; }

    /*Design for max-width: 991px*/
    .header-v5 .navbar-collapse,
    .header-v5 .navbar-collapse .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .header-v5 .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 9px 10px;
    }

    .header-v5 .navbar-default .navbar-nav > li a { border-bottom: solid 1px #eee; }

    .header-v5 .navbar-default .navbar-nav > li > a:focus { background: none; }

    .header-v5 .navbar-default .navbar-nav > li > a:hover { color: #72c02c; }

    .header-v5 .navbar-default .navbar-nav > .active > a,
    .header-v5 .navbar-default .navbar-nav > .active > a:hover,
    .header-v5 .navbar-default .navbar-nav > .active > a:focus {
        background: #72c02c !important;
        color: #fff !important;
    }

    .header-v5 .dropdown .dropdown-submenu > a {
        color: #333 !important;
        font-size: 13px;
        text-transform: uppercase;
    }
}

@media (min-width: 992px) {
    /*Navbar Collapse*/
    .header-v5 .navbar-collapse { padding: 0; }

    .header-v5 .navbar-default .navbar-nav > li > a {
        line-height: 30px;
        padding: 23px 18px 24px;
    }

    .header-v5 .navbar-default .navbar-nav > li > a:last-child { padding-right: 15px; }

    .header-v5 .navbar-default .navbar-nav > li > a,
    .header-v5 .navbar-default .navbar-nav > li > a:focus { border-top: solid 2px transparent; }

    .header-v5 .navbar-default .navbar-nav > li > a:hover,
    .header-v5 .navbar-default .navbar-nav > .active > a { border-top: solid 2px #72c02c; }

    .header-v5 .navbar-default .navbar-nav > li > a,
    .header-v5 .navbar-default .navbar-nav > li > a:hover,
    .header-v5 .navbar-default .navbar-nav > li > a:focus,
    .header-v5 .navbar-default .navbar-nav > .active > a,
    .header-v5 .navbar-default .navbar-nav > .active > a:hover,
    .header-v5 .navbar-default .navbar-nav > .active > a:focus { background: none; }

    .header-v5 .navbar-default .navbar-nav > .open > a,
    .header-v5 .navbar-default .navbar-nav > .open > a:hover,
    .header-v5 .navbar-default .navbar-nav > .open > a:focus { color: #72c02c; }

    .header-v5 .navbar-default .navbar-nav > li:hover > a { color: #72c02c; }

    /*Dropdown Menu*/
    .header-v5 .dropdown-menu {
        -moz-box-shadow: 0 2px 2px 0px rgba(90, 90, 90, 0.075);
        -webkit-box-shadow: 0 2px 2px 0px rgba(90, 90, 90, 0.075);
        border: none;
        border-radius: 0;
        border-top: solid 2px #72c02c;
        box-shadow: 0 5px 5px 0px rgba(90, 90, 90, 0.075);
        min-width: 200px;
        padding: 0;
        z-index: 9999 !important;
    }

    .header-v5 .dropdown-menu li a {
        border-bottom: solid 1px #dedede;
        color: #555;
        font-size: 14px;
        font-weight: 400;
        padding: 8px 15px;
    }

    .header-v5 .dropdown-menu > li > a {
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        /*Transition for fixed header*/
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .header-v5 .dropdown-menu .active > a,
    .header-v5 .dropdown-menu li > a:hover {
        background: #72c02c;
        color: #fff;
        filter: none !important;
    }

    .header-v5 .dropdown-menu li > a:focus {
        background: none;
        color: inherit;
        filter: none !important;
    }

    .header-v5 .navbar-nav > li.dropdown:hover > .dropdown-menu { display: block; }

    .header-v5 .open > .dropdown-menu { display: none; }

    .header-v5 .dropdown-menu li.dropdown-submenu:hover > a {
        background: #72c02c;
        color: #fff;
    }
}


/*--------------------------------------------------
    [5. Header - Submenu]
----------------------------------------------------*/

/*Dropdown Submenu for BS3
------------------------------------*/

.header-v5 .dropdown-submenu { position: relative; }

.header-v5 .dropdown > a:after,
.header-v5 .dropdown-submenu > a:after {
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    right: 9px;
    top: 8px;
}

@media (max-width: 991px) {
    .header-v5 .dropdown-submenu > a:after { content: " "; }

    .header-v5 .dropdown > a:after {
        content: "\f107";
        right: 15px;
        top: 9px;
    }
}

@media (min-width: 992px) {
    .header-v5 .dropdown > a:after { content: " "; }
}

.header-v5 .dropdown-submenu > .dropdown-menu {
    left: 100%;
    margin-left: 0px;
    margin-top: -5px;
    top: 3px;
}

/*Submenu comes from LEFT side*/

.header-v5 .dropdown-submenu > .dropdown-menu.submenu-left { left: -100%; }

.header-v5 .dropdown-submenu:hover > .dropdown-menu { display: block; }

@media (max-width: 991px) {
    .header-v5 .dropdown-submenu > .dropdown-menu {
        display: block;
        margin-left: 15px;
    }
}

.header-v5 .dropdown-submenu.pull-left { float: none; }

.header-v5 .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

.header-v5 .dropdown-menu li [class^="fa-"],
.header-v5 .dropdown-menu li [class*=" fa-"] {
    display: inline-block;
    left: -3px;
    margin-right: 1px;
    position: relative;
    text-align: center;
    width: 1.25em;
}

.header-v5 .dropdown-menu li [class^="fa-"].fa-lg,
.header-v5 .dropdown-menu li [class*=" fa-"].fa-lg {
    /* increased font size for fa-lg */
    width: 1.5625em;
}

/*--------------------------------------------------
    [5. Header - Mega Menu]
----------------------------------------------------*/

/*Mega Menu
------------------------------------*/

.header-v5 .mega-menu .nav,
.header-v5 .mega-menu .dropup,
.header-v5 .mega-menu .dropdown,
.header-v5 .mega-menu .collapse { position: static; }

.header-v5 .mega-menu .navbar-inner,
.header-v5 .mega-menu .container { position: relative; }

.header-v5 .mega-menu .dropdown-menu { left: auto; }

.header-v5 .mega-menu .dropdown-menu > li { display: block; }

.header-v5 .mega-menu .dropdown-submenu .dropdown-menu { left: 100%; }

.header-v5 .mega-menu .nav.pull-right .dropdown-menu { right: 0; }

.header-v5 .mega-menu .mega-menu-content {
    padding: 20px 10px;
    *zoom: 1;
}

.header-v5 .mega-menu .mega-menu-content:before,
.header-v5 .mega-menu .mega-menu-content:after {
    content: "";
    display: table;
    line-height: 0;
}

.header-v5 .mega-menu .mega-menu-content:after { clear: both; }

.header-v5 .mega-menu.navbar .nav > li > .dropdown-menu:after,
.header-v5 .mega-menu.navbar .nav > li > .dropdown-menu:before { display: none; }

.header-v5 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
    left: 0;
    overflow: hidden;
    right: 0;
}

@media (min-width: 992px) {
    .header-v5 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
        margin-left: 10px;
        margin-right: 15px;
    }
}

@media (max-width: 991px) {
    .header-v5 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu { width: auto; }

    .header-v5 .mega-menu .mega-menu-content { padding-right: 0; }

    .header-v5 .mega-menu .mega-menu-content [class^="col-"] { padding-right: 25px; }

    .header-v5 .mega-menu .dropdown-menu > li > ul { display: block; }
}

/*Bootstrap Container*/

@media (min-width: 768px) {
    .header-v5 .mega-menu .mega-menu-content .container { width: 708px; }
}

@media (min-width: 992px) {
    .header-v5 .mega-menu .mega-menu-content .container { width: 910px; }
}

@media (min-width: 1200px) {
    .header-v5 .mega-menu .mega-menu-content .container { width: 1110px; }
}

/*Dropdown Menu*/

.header-v5 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu li { padding-bottom: 5px; }

.header-v5 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu li a {
    border-bottom: none;
    padding: 0;
}

/*Product Offers*/

.header-v5 img.product-offers:hover { opacity: 0.9; }

/*Style List*/

.header-v5 h3.mega-menu-heading {
    border-bottom: 1px solid #dedede;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.header-v5 h3.mega-menu-heading.margin-bottom-10 { margin-bottom: 10px !important; }

.header-v5 .style-list { margin-bottom: 20px; }

.header-v5 .style-list li a {
    color: #555;
    font-size: 14px;
    margin-right: 5px;
}

.header-v5 .style-list li a:hover {
    background: none;
    color: #72c02c;
    text-decoration: none;
}

.header-v5 .style-list li .label {
    position: relative;
    top: -2px;
}

/*--------------------------------------------------
    [6. Header - Fixed]
----------------------------------------------------*/

/*Header*/

.header-fixed .header-v5.header-fixed-shrink {
    -moz-transition: background 0.4s;
    -webkit-transition: background 0.4s;
    background: rgba(255, 255, 255, 0.96);
    border-bottom: none;
    box-shadow: 0 0 3px #bbb;
    height: 95px;
    left: 0;
    margin-top: -29.5px;
    position: fixed;
    top: 0;
    transition: background 0.4s;
    width: 100%;
    z-index: 999;
}

/*Topbar*/

.header-fixed .header-v5.header-fixed-shrink .topbar { display: none; }

/*No Topbar*/

.header-fixed .header-v5.no-topbar { height: 78px; }

.header-fixed .header-v5.no-topbar.header-fixed-shrink {
    height: 95px;
    margin-top: -35px;
}

.header-fixed .header-v5.no-topbar.header-fixed-shrink .navbar-brand { top: 46px; }

.header-fixed .header-v5.no-topbar.header-fixed-shrink .shop-badge.badge-lists { margin-top: 26px; }

.header-fixed .header-v5.no-topbar.header-fixed-shrink .shop-badge.badge-lists > li { padding-bottom: 17px; }

.header-fixed .header-v5.no-topbar.header-fixed-shrink .shop-badge .badge-open { top: 69px; }

.header-fixed .header-v5.no-topbar.header-fixed-shrink .navbar-nav > li > .dropdown-menu { margin-top: -1px; }

/*Brand*/

.header-fixed .header-v5.header-fixed-shrink .navbar-brand {
    padding: 0 10px 10px;
    position: relative;
    top: 15px;
    z-index: 1;
}

.header-fixed .header-v5.header-fixed-shrink .navbar-brand img { width: 90%; }

.header-fixed .header-v5.header-fixed-shrink .navbar-nav > li > .dropdown-menu { margin-top: -8px; }

/*Badge List*/

.header-fixed .header-v5.header-fixed-shrink .shop-badge.badge-lists { margin-top: -3px; }

.header-fixed .header-v5.header-fixed-shrink .shop-badge .badge-open { top: 70px; }

@media (max-width: 991px) {
    /*Header*/
    .header-fixed .header-v5,
    .header-fixed .header-v5.header-fixed-shrink,
    .header-fixed .header-v5.no-topbar,
    .header-fixed .header-v5.no-topbar.header-fixed-shrink {
        height: inherit;
        position: relative;
    }
}

@media (min-width: 992px) {
    .header-fixed .header-v5.header-fixed-shrink .navbar-nav > li > a {
        font-size: 15px;
        margin-top: 2px;
        padding: 17px 18px 26px;
    }

    /*No Topbar*/
    .header-fixed .header-v5.no-topbar.header-fixed-shrink .navbar-nav > li > a {
        margin-top: 35px;
        padding: 14px 17px 16px;
    }
}


/*--------------------------------------------------
    [7. Header - Fixed Boxed]
----------------------------------------------------*/

.boxed-layout.header-fixed .header-v5.header-sticky {
    left: inherit;
    width: inherit;
}