/*----------------------------------------------------------------------

[-----*** TABLE OF CONTENT ***-----]

1. Header - Topbar
2. Header - Navbar
3. Header - Responsive Navbar Style
4. Header - Submenu
5. Header - Mega Menu
6. Header - Fixed
-----------------------------------------------------------------------*/


/*--------------------------------------------------
    [1. Header - Topbar]
----------------------------------------------------*/

/*Top Bar (login, search etc.)
------------------------------------*/
.topbar-v1 {
    background: #fdfdfd;
    border-bottom: solid 1px #f0f0f0;
    border-top: solid 1px #f0f0f0;
}

/*Top Contacts*/

.topbar-v1 ul { margin: 0; }

.topbar-v1 .top-v1-contacts {
    font-size: 12px;
    margin-top: 8px;
}

.topbar-v1 .top-v1-contacts i {
    color: #999;
    font-size: 12px;
    margin-right: 3px;
}

/*Top Data*/

.topbar-v1 .top-v1-data { text-align: right; }

.topbar-v1 .top-v1-data li {
    border-right: solid 1px #eee;
    display: inline-block;
    margin-right: -4px;
    padding: 7px 11px;
}

.topbar-v1 .top-v1-data li a { font-size: 12px; }

.topbar-v1 .top-v1-data li a:hover { text-decoration: none; }

.topbar-v1 .top-v1-data li i {
    color: #777;
    font-size: 13px;
}

.topbar-v1 .top-v1-data li a:hover i { color: #72c02c; }

/*Responsive Topbar v1*/

@media (max-width: 991px) {
    .topbar-v1 ul { text-align: center !important; }

    .topbar-v1 .top-v1-contacts { margin: 10px 0; }

    .topbar-v1 .top-v1-data li {
        border-top: solid 1px #eee;
        margin-left: -1px;
        padding: 6px 16px;
        position: relative;
        top: 1px;
    }

    .topbar-v1 .top-v1-data li:first-child { border-left: solid 1px #eee; }
}

@media (min-width: 992px) {
    .topbar-v1 .top-v1-data li:last-child {
        border-right: none;
        margin-right: 0;
    }
}

/*--------------------------------------------------
    [2. Header - Navbar]
----------------------------------------------------*/

/*Navbar*/

.header-v4 {
    position: relative;
    z-index: 99;
}

.header-v4 .navbar { margin: 0; }

.header-v4 .navbar-default {
    background: none;
    border: none;
}

.header-v4 .navbar-header {
    float: none;
    margin: 10px 0;
}

@media (max-width: 991px) {
    .header-v4 .navbar-header { margin: 20px 0 0; }
}

/*Navbar Brand*/

.header-v4 .navbar-brand { float: none; }

.header-v4 .navbar-brand img { margin: 0 auto; }

.header-v4 .navbar-nav {
    float: left;
    margin-top: -1px;
}

/*Navbar Toggle*/

.header-v4 .navbar-default .navbar-toggle {
    border-color: #eee;
    margin-bottom: 0;
    overflow: hidden;
    width: 100%;
}

.header-v4 .full-width-menu {
    color: #777;
    float: left;
    font-size: 14px;
    margin-right: 10px;
    position: relative;
    text-transform: uppercase;
    top: -1px;
}

.header-v4 .navbar-default .navbar-toggle .icon-toggle {
    float: right;
    font-size: 19px;
    height: 1px;
    margin: 2px 0 7px;
    width: 25px;
}

.header-v4 .navbar-default .navbar-toggle .icon-toggle:last-child { margin-bottom: 0; }

.header-v4 .navbar-toggle,
.header-v4 .navbar-default .navbar-toggle:hover,
.header-v4 .navbar-default .navbar-toggle:focus {
    background: #f7f7f7;
    padding: 12px 10px 8px;
}

@media (max-width: 768px) {
    .header-v4 .navbar-default .navbar-toggle { margin: -1px 0 0; }
}

/*Navbar Collapse*/

.header-v4 .navbar-collapse {
    border-top: none;
    padding: 0;
    position: relative;
}

/*Navbar Menu*/

.header-v4 .navbar-default .navbar-nav > li > a {
    color: #687074;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.header-v4 .navbar-default .navbar-nav > .active > a { color: #72c02c; }

@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child { margin-right: 0; }
}


/*--------------------------------------------------
    [3. Header - Responsive Navbar Style]
----------------------------------------------------*/

/*Responsive Navbar*/

@media (max-width: 991px) {
    /*Responsive code for max-width: 991px*/
    .header-v4 { margin-bottom: 20px; }

    .header-v4 .navbar-header { float: none; }

    .header-v4 .navbar-toggle { display: block; }

    .header-v4 .navbar-collapse.collapse { display: none !important; }

    .header-v4 .navbar-collapse.collapse.in {
        display: block !important;
        overflow-y: auto !important;
    }

    .header-v4 .navbar-nav {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        float: none !important;
        margin: 0 15px;
    }

    .header-v4 .navbar-nav.navbar-border-bottom {
        border-bottom: 1px solid #eee;
        margin-right: 15px;
        padding-bottom: 5px;
    }

    .header-v4 .navbar-nav > li { float: none; }

    .header-v4 .navbar-nav > li > a {
        padding-bottom: 40px;
        padding-top: 30px;
    }

    /*Pull Right*/
    .header-v4 .dropdown-menu.pull-right { float: none !important; }

    /*Dropdown Menu Slide Down Effect*/
    .header-v4 .navbar-nav .open .dropdown-menu {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        float: none;
        margin-top: 0;
        position: static;
        width: auto;
    }

    .header-v4 .navbar-nav .open .dropdown-menu > li > a,
    .header-v4 .navbar-nav .open .dropdown-menu .dropdown-header { padding: 5px 15px 5px 25px; }

    .header-v4 .navbar-nav .open .dropdown-menu > li > a { line-height: 20px; }

    .header-v4 .navbar-nav .open .dropdown-menu > li > a:hover,
    .header-v4 .navbar-nav .open .dropdown-menu > li > a:focus { background-image: none; }

    .header-v4 .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #777; }

    .header-v4 .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .header-v4 .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: transparent;
        color: #333;
    }

    .header-v4 .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .header-v4 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .header-v4 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #e7e7e7;
        color: #555;
    }

    .header-v4 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .header-v4 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .header-v4 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        background-color: transparent;
        color: #ccc;
    }

    .header-v4 .navbar-default .dropdown-menu.no-bottom-space { padding-bottom: 0; }

    /*Design for max-width: 1200px*/
    .header-v4 .navbar-collapse,
    .header-v4 .navbar-collapse .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .header-v4 .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 9px 10px;
    }

    .header-v4 .navbar-default .navbar-nav > li a { border-bottom: solid 1px #eee; }

    .header-v4 .navbar-default .navbar-nav > li > a:focus { background: none; }

    .header-v4 .navbar-default .navbar-nav > li > a:hover { color: #72c02c; }

    .header-v4 .navbar-default .navbar-nav > .active > a,
    .header-v4 .navbar-default .navbar-nav > .active > a:hover,
    .header-v4 .navbar-default .navbar-nav > .active > a:focus {
        background: inherit;
        color: #72c02c !important;
    }

    .header-v4 .dropdown .dropdown-submenu > a {
        color: #333 !important;
        font-size: 13px;
        text-transform: uppercase;
    }
}

@media (min-width: 992px) {
    .header-v4 { border-bottom: none; }

    .header-v4 .navbar-collapse {
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
    }

    /*Navbar Nav*/
    .header-v4 .navbar-default .navbar-nav > li {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        margin-left: -1px;
    }

    .header-v4 .navbar-default .navbar-nav > li.no-border,
    .header-v4 .navbar-default .navbar-nav > li.no-border:first-child {
        border-left: none;
        border-right: none;
    }

    .header-v4 .navbar-default .navbar-nav > li > a {
        font-size: 13px;
        padding: 10px 30px 11px 20px;
    }

    .header-v4 .navbar-default .navbar-nav > li > a,
    .header-v4 .navbar-default .navbar-nav > li > a:focus { border-top: solid 2px transparent; }

    .header-v4 .navbar-default .navbar-nav > li > a:hover,
    .header-v4 .navbar-default .navbar-nav > .active > a { border-top: solid 2px #72c02c; }

    .header-v4 .navbar-default .navbar-nav > li > a,
    .header-v4 .navbar-default .navbar-nav > li > a:hover,
    .header-v4 .navbar-default .navbar-nav > li > a:focus,
    .header-v4 .navbar-default .navbar-nav > .active > a,
    .header-v4 .navbar-default .navbar-nav > .active > a:hover,
    .header-v4 .navbar-default .navbar-nav > .active > a:focus { background: none; }

    .header-v4 .navbar-default .navbar-nav > .open > a,
    .header-v4 .navbar-default .navbar-nav > .open > a:hover,
    .header-v4 .navbar-default .navbar-nav > .open > a:focus { color: #72c02c; }

    .header-v4 .navbar-default .navbar-nav > li:hover > a {
        border-top: solid 2px #72c02c;
        color: #72c02c;
    }

    /*Dropdown Menu*/
    .header-v4 .dropdown-menu {
        border: none;
        border-bottom: solid 2px #687074;
        border-radius: 0;
        border-top: solid 1px transparent;
        min-width: 200px;
        padding: 0;
        z-index: 9999 !important;
    }

    .header-v4 .dropdown-menu li a {
        border-bottom: solid 1px #eee;
        color: #687074;
        font-size: 13px;
        font-weight: 400;
        padding: 6px 15px;
    }

    .header-v4 .dropdown-menu .active > a,
    .header-v4 .dropdown-menu li > a:hover {
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        background: #687074 !important;
        color: #fff;
        filter: none !important;
        transition: all 0.1s ease-in-out;
    }

    .header-v4 .dropdown-menu li > a:focus {
        background: none;
        filter: none !important;
    }

    .header-v4 .navbar-nav > li.dropdown:hover > .dropdown-menu { display: block; }

    .header-v4 .open > .dropdown-menu { display: none; }

    /*Search*/
    .header-v4 .navbar .nav > li > .search { margin: 4px 9px 0 20px; }

    .header-v4 .navbar .search-open { width: 330px; }
}


/*--------------------------------------------------
    [4. Header - Submenu]
----------------------------------------------------*/

/*Dropdown Submenu for BS3
------------------------------------*/

.header-v4 .dropdown-submenu { position: relative; }

.header-v4 .dropdown > a:after,
.header-v4 .dropdown-submenu > a:after {
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    right: 9px;
    top: 8px;
}

@media (max-width: 991px) {
    .header-v4 .dropdown-submenu > a:after { content: " "; }
}

.header-v4 .dropdown > a:after {
    content: "\f107";
    right: 15px;
    top: 10px;
}

.header-v4 .dropdown-submenu > .dropdown-menu {
    left: 100%;
    margin-left: 0px;
    margin-top: -5px;
    top: 3px;
}

/*Submenu comes from LEFT side*/

.header-v4 .dropdown-submenu > .dropdown-menu.submenu-left { left: -100%; }

.header-v4 .dropdown-submenu:hover > .dropdown-menu { display: block; }

@media (max-width: 991px) {
    .header-v4 .dropdown-submenu > .dropdown-menu {
        display: block;
        margin-left: 15px;
    }
}

.header-v4 .dropdown-submenu.pull-left { float: none; }

.header-v4 .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

.header-v4 .dropdown-menu li [class^="fa-"],
.header-v4 .dropdown-menu li [class*=" fa-"] {
    display: inline-block;
    left: -3px;
    margin-right: 1px;
    position: relative;
    text-align: center;
    width: 1.25em;
}

.header-v4 .dropdown-menu li [class^="fa-"].fa-lg,
.header-v4 .dropdown-menu li [class*=" fa-"].fa-lg {
    /* increased font size for fa-lg */
    width: 1.5625em;
}

/*Search Box
------------------------------------*/

.header-v4 .navbar .nav > li > .search {
    color: #aaa;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    min-width: 35px;
    padding: 11px 0 12px;
    text-align: center;
}

.header-v4 .navbar .nav > li > .search:hover { color: #72c02c; }

.header-v4 .navbar .search-open {
    background: #fcfcfc;
    border-top: solid 1px #eee;
    box-shadow: 0 1px 3px #ddd;
    display: none;
    padding: 14px;
    position: absolute;
    right: 0;
    top: 43px;
}

.header-v4 .navbar .search-open form { margin: 0; }

@media (min-width: 767px) and (max-width: 991px) {
    .header-v4 .navbar > .container .navbar-brand,
    .header-v4 .navbar > .container-fluid .navbar-brand { margin-left: -10px; }

    .header-v4 .navbar-toggle { margin-right: 0; }

    .header-v4 .navbar .search-open { width: 92%; }
}

@media (max-width: 991px) {
    .header-v4 .navbar .nav > li > .search {
        background: #eee;
        border-bottom: none;
        color: #999;
        height: 34px;
        line-height: 12px;
        margin: 5px 10px 0;
        text-align: left;
        text-align: center;
        width: 35px;
    }

    .header-v4 .navbar .nav > li > .search:hover {
        background: #5fb611;
        color: #fff !important;
    }

    .header-v4 .navbar .search-open {
        background: none;
        border-top: none;
        box-shadow: none;
        left: 48px;
        margin-right: 10px;
        padding: 0;
        top: 5px;
    }
}


/*--------------------------------------------------
    [5. Header - Mega Menu]
----------------------------------------------------*/

/*Mega Menu
------------------------------------*/

.header-v4 .mega-menu .nav,
.header-v4 .mega-menu .dropup,
.header-v4 .mega-menu .dropdown,
.header-v4 .mega-menu .collapse { position: static; }

.header-v4 .mega-menu .navbar-inner,
.header-v4 .mega-menu .container { position: relative; }

.header-v4 .mega-menu .dropdown-menu { left: auto; }

.header-v4 .mega-menu .dropdown-menu > li { display: block; }

.header-v4 .mega-menu .dropdown-submenu .dropdown-menu { left: 100%; }

.header-v4 .mega-menu .nav.pull-right .dropdown-menu { right: 0; }

.header-v4 .mega-menu .mega-menu-content {
    padding: 0;
    *zoom: 1;
}

.header-v4 .mega-menu .mega-menu-content:before,
.header-v4 .mega-menu .mega-menu-content:after {
    content: "";
    display: table;
    line-height: 0;
}

.header-v4 .mega-menu .mega-menu-content:after { clear: both; }

.header-v4 .mega-menu.navbar .nav > li > .dropdown-menu:after,
.header-v4 .mega-menu.navbar .nav > li > .dropdown-menu:before { display: none; }

.header-v4 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
    left: 0;
    overflow: hidden;
    right: 0;
}

@media (min-width: 992px) {
    .header-v4 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu { margin: 0 15px; }
}

/*Equal Height Lists*/

@media (min-width: 992px) {
    .header-v4 .mega-menu .equal-height {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
	    
        /*-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;*/
    }

    .header-v4 .mega-menu .equal-height-in {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

/*Mega Menu Style Effect*/

.header-v4 .mega-menu .equal-height-list h3 {
    font-size: 15px;
    font-weight: 400;
    padding: 0 10px 0 13px;
    text-transform: uppercase;
}

/*Space for only Big Resolution*/

@media (min-width: 992px) {
    .header-v4 .mega-menu .big-screen-space { margin-bottom: 20px; }
}

/*Mega Menu Content*/

@media (min-width: 992px) {
    .header-v4 .mega-menu .equal-height-in {
        border-left: 1px solid #eee;
        padding: 20px 0;
    }

    .header-v4 .mega-menu .equal-height-in:first-child {
        border-left: none;
        margin-left: -1px;
    }

    .header-v4 .mega-menu .equal-height-list { width: 100%; }

    .header-v4 .mega-menu .equal-height-list li a {
        border-bottom: none;
        display: block;
        padding: 5px 10px 5px 15px;
        position: relative;
    }

    .header-v4 .mega-menu .equal-height-list a:hover { text-decoration: none; }

    /*Dropdown Arrow Icons*/
    .header-v4 .mega-menu .mega-menu-fullwidth li a { padding: 5px 10px 5px 30px; }

    .header-v4 .mega-menu .mega-menu-fullwidth li a:after {
        content: "\f105";
        display: inline-block;
        font-family: FontAwesome;
        font-size: 11px;
        font-weight: normal;
        left: 15px;
        position: absolute;
        top: 7px;
    }

    /*Dropdown Arrow Icons Disable class*/
    .header-v4 .mega-menu .mega-menu-fullwidth .disable-icons li a { padding: 5px 10px 5px 15px; }

    .header-v4 .mega-menu .mega-menu-fullwidth .disable-icons li a:after { display: none; }
}

/*Space Effect inside the container to avoid scroll bar*/

@media (max-width: 991px) {
    .header-v4 .mega-menu .equal-height { margin-right: 0; }

    .header-v4 .mega-menu .equal-height-in { padding-right: 0; }
}

/*Equal Hight List Style*/

@media (max-width: 991px) {
    .header-v4 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu { width: auto; }

    .header-v4 .mega-menu .equal-height-in,
    .header-v4 .mega-menu .equal-height-list { display: block; }

    .header-v4 .mega-menu .mega-menu-fullwidth .dropdown-menu > li > ul { display: block; }

    /*Equal Height List Style*/
    .header-v4 .mega-menu .equal-height-list h3 {
        border-bottom: solid 1px #eee;
        color: #333;
        font-size: 13px;
        font-weight: 400;
        margin: 0 0 5px;
        padding: 6px 25px 5px;
    }

    .header-v4 .mega-menu .equal-height-list li { margin-left: 15px; }

    .header-v4 .mega-menu .equal-height-list li a {
        border-bottom: solid 1px #eee;
        color: #687074;
        display: block;
        font-size: 13px;
        font-weight: 400;
        padding: 6px 25px;
    }

    .header-v4 .mega-menu .equal-height-list > h3.active,
    .header-v4 .mega-menu .equal-height-list > .active > a,
    .header-v4 .mega-menu .equal-height-list > .active > a:hover,
    .header-v4 .mega-menu .equal-height-list > .active > a:focus {
        background-color: #e7e7e7;
        color: #555;
    }

    .header-v4 .mega-menu .equal-height-list li a:hover {
        color: #333;
        text-decoration: none;
    }
}


/*--------------------------------------------------
    [6. Header - Fixed]
----------------------------------------------------*/

/*Header*/

.header-fixed .header-v4.header-fixed-shrink {
    -moz-transition: height 0.4s;
    -webkit-transition: height 0.4s;
    background: rgba(255, 255, 255, 0.96);
    border-bottom: none;
    box-shadow: 0 0 3px #bbb;
    height: 95px;
    left: 0;
    margin-top: -35px;
    position: fixed;
    top: 0;
    transition: height 0.4s;
    width: 100%;
    z-index: 9999;
}

/*Brand*/

.header-fixed .header-v4.header-fixed-shrink .navbar-brand {
    padding: 0 10px 10px;
    position: relative;
    top: 11px;
    z-index: 1;
}

.header-fixed .header-v4.header-fixed-shrink .navbar-brand img { width: 90%; }

.header-fixed .header-v4.header-fixed-shrink .search,
.header-fixed .header-v4.header-fixed-shrink .active a { border-bottom: none !important; }

.header-fixed .header-v4.header-fixed-shrink .dropdown > a:after { top: 19px; }

/*Toggle*/

.header-fixed .header-v4 .navbar-toggle { margin-top: 5px; }

/*Search Bar*/

.header-fixed .header-v4.header-fixed-shrink .search {
    background: none !important;
    color: #585f69 !important;
    margin-top: 12px;
    padding: 8px !important;
}

.header-fixed .header-v4.header-fixed-shrink .search-open {
    background: rgba(255, 255, 255, 0.9);
    border-top: none;
}

@media (max-width: 991px) {
    /*Header*/
    .header-fixed .headerv4,
    .header-fixed .header-v4.header-fixed-shrink {
        height: 88px;
        position: relative;
    }

    /*Navbar*/
    .header-fixed .header-v4 .navbar-nav {
        background: #fff;
        border: solid 1px #eee;
        margin-top: 0px;
        padding: 6px 0;
    }

    .header-fixed .header-v4 .navbar-default .navbar-collapse,
    .header-fixed .header-v4 .navbar-default .navbar-form { border: none; }

    /*Toggle*/
    .header-fixed .header-v4 .navbar-toggle { margin-top: 9px; }

    /*Search*/
    .header-fixed .header-v4.header-fixed-shrink .navbar .nav > li > .search {
        position: relative;
        top: 5px;
    }
}

@media (min-width: 992px) {
    .header-fixed .header-v4.header-fixed-shrink .navbar-nav > li > a {
        border-bottom: solid 1px transparent !important;
        padding: 19px 30px 18px 20px;
    }

    /*Search Bar*/
    .header-fixed .header-v4.header-fixed-shrink .search-open { top: 59px; }
}