/*!
 * =====================================================
 * SUI Mobile - http://m.sui.taobao.org/
 *
 * =====================================================
 */

/*.transition(@d) {
    -webkit-transition-duration: @d;
    transition-duration: @d;
}
.delay(@d) {
    -webkit-transition-delay: @d;
    transition-delay: @d;
}
.transform(@t) {
    -webkit-transform: @t;
    transform: @t;
}
.transform-origin(@to) {
    -webkit-transform-origin: @to;
    transform-origin: @to;
}
.translate3d(@x:0, @y:0, @z:0) {
    -webkit-transform: translate3d(@x,@y,@z);
    transform: translate3d(@x,@y,@z);
}
.animation(@a) {
    -webkit-animation: @a;
    animation: @a;
}
.border-box(){
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box-shadow(@bs) {
    -webkit-box-shadow: @bs;
    box-shadow: @bs;
}
.animation-name(@name) {
  -webkit-animation-name: @name;
     -moz-animation-name: @name;
          animation-name: @name;
}
.animation-duration(@duration) {
  -webkit-animation-duration: @duration;
     -moz-animation-duration: @duration;
          animation-duration: @duration;
}
.animation-direction(@direction) {
  -webkit-animation-direction: @direction;
     -moz-animation-direction: @direction;
          animation-direction: @direction;
}
*/
/* === Photo Browser === */
.photo-browser {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10500;
}

.photo-browser .bar-tab .tab-item .icon {
    height: 14px;
    margin-top: -5px;
    width: 14px;
}

.photo-browser .bar-tab ~ .photo-browser-captions {
    -webkit-transform: translate3d(0, 0, 0);
    bottom: 52px;
    transform: translate3d(0, 0, 0);
}

.photo-browser.photo-browser-in {
    -webkit-animation: photoBrowserIn 400ms forwards;
    animation: photoBrowserIn 400ms forwards;
    display: block;
}

.photo-browser.photo-browser-out {
    -webkit-animation: photoBrowserOut 400ms forwards;
    animation: photoBrowserOut 400ms forwards;
    display: block;
}

html.with-statusbar-overlay .photo-browser {
    height: -webkit-calc(100% - 1rem);
    height: calc(100% - 1rem);
    top: 1rem;
}

.popup > .photo-browser .navbar,
body > .photo-browser .navbar,
.popup > .photo-browser .toolbar,
body > .photo-browser .toolbar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.photo-browser .page[data-page="photo-browser-slides"] { background: none; }

.photo-browser .page {
    background: #efeff4;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.photo-browser .view {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5000;
}

.page[data-page="photo-browser-slides"] .toolbar a { color: #4cd964; }

.photo-browser-popup { background: none; }

.photo-browser .navbar,
.view[data-page="photo-browser-slides"] .navbar,
.photo-browser .toolbar,
.view[data-page="photo-browser-slides"] .toolbar {
    -webkit-transition: 400ms;
    background: rgba(247, 247, 247, 0.95);
    transition: 400ms;
}

.view[data-page="photo-browser-slides"] .page[data-page="photo-browser-slides"] .navbar,
.view[data-page="photo-browser-slides"] .page[data-page="photo-browser-slides"] .toolbar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.photo-browser-exposed .navbar,
.photo-browser-exposed .toolbar {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.photo-browser-exposed .photo-browser-swiper-container { background: #000; }

.photo-browser-of { margin: 0 0.25rem; }

.photo-browser-captions {
    -webkit-transition: 400ms;
    bottom: 0;
    left: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transition: 400ms;
    width: 100%;
    z-index: 10;
}

.photo-browser-captions.photo-browser-captions-exposed { opacity: 0; }

.toolbar ~ .photo-browser-captions {
    -webkit-transform: translate3d(0, 0rem, 0);
    bottom: 2.2rem;
    transform: translate3d(0, 0rem, 0);
}

.photo-browser-exposed .toolbar ~ .photo-browser-captions {
    -webkit-transform: translate3d(0, 2.2rem, 0);
    transform: translate3d(0, 2.2rem, 0);
}

.toolbar ~ .photo-browser-captions.photo-browser-captions-exposed { transformt: ranslate3d(0, 0rem, 0); }

.photo-browser-caption {
    -webkit-transition: 300ms;
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    left: 0;
    opacity: 0;
    padding: 0.2rem 0.25px;
    position: absolute;
    text-align: center;
    transition: 300ms;
    width: 100%;
}

.photo-browser-caption:empty { display: none; }

.photo-browser-caption.photo-browser-caption-active { opacity: 1; }

.photo-browser-captions-light .photo-browser-caption {
    background: rgba(255, 255, 255, 0.8);
    color: #3d4145;
}

.photo-browser-exposed .photo-browser-caption {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.photo-browser-swiper-container {
    -webkit-transition: 400ms;
    background: #fff;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: 400ms;
    width: 100%;
}

.photo-browser-swiper-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.photo-browser-link-inactive { opacity: 0.3; }

.photo-browser-slide {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-flex-shrink: 0;
    -webkit-justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.photo-browser-slide.transitioning {
    -webkit-transition: 400ms;
    transition: 400ms;
}

.photo-browser-slide span.photo-browser-zoom-container {
    display: none;
    text-align: center;
    width: 100%;
}

.photo-browser-slide img {
    display: none;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.photo-browser-slide.swiper-slide-active span.photo-browser-zoom-container,
.photo-browser-slide.swiper-slide-next span.photo-browser-zoom-container,
.photo-browser-slide.swiper-slide-prev span.photo-browser-zoom-container { display: block; }

.photo-browser-slide.swiper-slide-active img,
.photo-browser-slide.swiper-slide-next img,
.photo-browser-slide.swiper-slide-prev img { display: inline; }

.photo-browser-slide.swiper-slide-active.photo-browser-slide-lazy .preloader,
.photo-browser-slide.swiper-slide-next.photo-browser-slide-lazy .preloader,
.photo-browser-slide.swiper-slide-prev.photo-browser-slide-lazy .preloader { display: block; }

.photo-browser-slide iframe {
    height: 100%;
    width: 100%;
}

.photo-browser-slide .preloader {
    display: none;
    height: 2.1rem;
    left: 50%;
    margin-left: -2.1rem;
    margin-top: -2.1rem;
    position: absolute;
    top: 50%;
    width: 2.1rem;
}

.photo-browser-dark .navbar,
.photo-browser-dark .toolbar {
    background: rgba(30, 30, 30, 0.8);
    color: #fff;
}

.photo-browser-dark .navbar:before,
.photo-browser-dark .toolbar:before { display: none; }

.photo-browser-dark .navbar:after,
.photo-browser-dark .toolbar:after { display: none; }

.photo-browser-dark .navbar a,
.photo-browser-dark .toolbar a { color: #fff; }

.photo-browser-dark .photo-browser-swiper-container { background: #000; }

@-webkit-keyframes photoBrowserIn {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(0.5);
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0.5);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes photoBrowserIn {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(0.5);
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0.5);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
    }
}

@-webkit-keyframes photoBrowserOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(0.5);
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0.5);
    }
}

@keyframes photoBrowserOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(0.5);
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0.5);
    }
}

/* === Swiper === */

.swiper-container {
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 30px;
    position: relative;
    /* Fix of Webkit flickering */
    z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide { float: left; }

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.swiper-wrapper {
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    box-sizing: content-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition-property: transform;
    width: 100%;
    z-index: 1;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
    -moz-box-lines: multiple;
    -ms-fles-wrap: wrap;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    margin: 0 auto;
    transition-timing-function: ease-out;
}

.swiper-slide {
    -ms-flex: 0 0 auto;
    -ms-transform-style: preserve-3d;
    -webkit-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -webkit-transform-style: preserve-3d;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
}

/* a11y */

.swiper-container .swiper-notification {
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */

.swiper-wp8-horizontal { touch-action: pan-y; }

.swiper-wp8-vertical { touch-action: pan-x; }

/* Arrows */

.swiper-button-prev,
.swiper-button-next {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 27px 44px;
    cursor: pointer;
    height: 44px;
    margin-top: -22px;
    position: absolute;
    top: 50%;
    width: 27px;
    z-index: 10;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    cursor: auto;
    opacity: 0.35;
    pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: auto;
    right: 10px;
}

/* Pagination Styles */

.swiper-pagination {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: 300ms;
    position: absolute;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: 300ms;
    z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden { opacity: 0; }

.swiper-pagination-bullet {
    background: #000;
    border-radius: 100%;
    display: inline-block;
    height: 8px;
    opacity: 0.2;
    width: 8px;
}

.swiper-pagination-bullet-active {
    background: #007aff;
    opacity: 1;
}

.swiper-container-vertical > .swiper-pagination {
    -webkit-transform: translate3d(0px, -50%, 0);
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
    display: block;
    margin: 5px 0;
}

.swiper-container-horizontal > .swiper-pagination {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet { margin: 0 5px; }

/* 3D Container */

.swiper-container-3d {
    -o-perspective: 1200px;
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    /* Firefox 3.6-15 */
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    /* Firefox 3.6-15 */
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    /* Firefox 3.6-15 */
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    /* Firefox 3.6-15 */
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */
}

/* Coverflow */

.swiper-container-coverflow .swiper-wrapper {
    /* Windows 8 IE 10 fix */
    -ms-perspective: 1200px;
}

/* Fade */

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide { pointer-events: none; }

.swiper-container-fade .swiper-slide-active { pointer-events: auto; }

/* Cube */

.swiper-container-cube { overflow: visible; }

.swiper-container-cube .swiper-slide {
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    backface-visibility: hidden;
    height: 100%;
    pointer-events: none;
    transform-origin: 0 0;
    visibility: hidden;
    width: 100%;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
    pointer-events: auto;
    visibility: visible;
}

.swiper-container-cube .swiper-cube-shadow {
    -webkit-filter: blur(50px);
    background: #000;
    bottom: 0px;
    filter: blur(50px);
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    width: 100%;
}

.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow { z-index: 0; }

/* Scrollbar */

.swiper-scrollbar {
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

.swiper-container-horizontal > .swiper-scrollbar {
    bottom: 3px;
    height: 5px;
    left: 1%;
    position: absolute;
    width: 98%;
    z-index: 50;
}

.swiper-container-vertical > .swiper-scrollbar {
    height: 98%;
    position: absolute;
    right: 3px;
    top: 1%;
    width: 5px;
    z-index: 50;
}

.swiper-scrollbar-drag {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.swiper-scrollbar-cursor-drag { cursor: move; }

/* Preloader */

.swiper-slide .preloader {
    height: 42px;
    left: 50%;
    margin-left: -21px;
    margin-top: -21px;
    position: absolute;
    top: 50%;
    width: 42px;
    z-index: 10;
}

.swiper-slide img { display: block; }