


<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewpost" content="width=device-width, initial-sca
          le=1.0, user-scalable=0,minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-moblie-web-app-capable" content="yes" />
    <meta name="apple-moblie-web-app-status-bar-style" content="black" />

    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/index.css" rel="=stylesheet" />
</head>
<body>
    <h1 style="text-align: center; font-size:40px;">@Html.Raw(Model.Name)</h1>
       <span style="font-size:30px">@Html.Raw(Model.Content)</span>
</body>