<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=.;Initial Catalog=Magicodes.WeiChat_V3.0;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="~/Error"
                  mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="~/Error" />
      <error statusCode="404" redirect="~/NotFoundError" />
    </customErrors>
  </system.web>
  <system.webServer>
    <staticContent xdt:Transform="Insert">
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".mp4" />
      <remove fileExtension=".mp3" />
      <remove fileExtension=".amr" />
      <remove fileExtension=".wma" />
      <remove fileExtension=".wav" />
      <!--设置字体文件的Mime类型-->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
      <mimeMap fileExtension=".amr" mimeType="audio/amr-wb" />
      <mimeMap fileExtension=".wma" mimeType="audio/x-wav" />
      <mimeMap fileExtension=".wav" mimeType="audio/x-wav" />
    </staticContent>
  </system.webServer>
</configuration>