@{
    ViewBag.Title = "广告图片管理";
    ViewBag.TwoTitle = ViewBag.TypeName;
    ViewBag.ThreeTitle = "图片管理";
    var typeId = ViewBag.TypeId;
}
@Html.Partial("_FormHead")
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content" style="padding-top: 0;">
                    <div class="file-manager" style="padding-left: 0">
                        <tag-list params="type:'Gallery',showUploadButton:true" style="position: static; zoom: 1;">
                            <ul class="tag-list" style="padding: 0;">
                                <li id="uploadImgs" class="text-danger">
                                    <a><i class="fa fa-cloud-upload"></i>&nbsp;&nbsp;上传</a>
                                </li>
                            </ul>
                        </tag-list>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 animated fadeInRight">
            <div class="row">
                <div class="col-lg-12" data-bind="foreach:Items">
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-responsive" data-bind="attr:{src:Url},click:$root.ImageClick" onerror="$(this).attr('url', $(this).attr('errorurl'));">
                                </div>
                                <div class="file-name">
                                    <span>广告图片</span>
                                    <br>
                                    <small data-bind="text:CreateTime"></small>
                                    <span class="pull-right"><i class="fa fa-trash" data-bind="click:$root.Delete"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        function tagClick(tag) {
            window.tag = tag;
            window.CurrentModel.Init();
        }

        $(function() {
            window.CurrentModel = new ViewModel();
            ko.applyBindings(window.CurrentModel, document.getElementById('mainBody'));

            //$('ul.tag-list li.tag').each(function () {
            //    $(this).on('click', function () {
            //        var $li = $(this);
            //        $li.addClass('text-warning').siblings().removeClass('text-warning');
            //        window.CurrentModel.Init();
            //    });
            //});
            //$('ul.tag-list li.tag:eq(0)').trigger('click');
            //将clicktype='modal'属性的链接均用弹窗打开
            $("#uploadImgs")
                .on('click',
                    function() {
                        var url = '/Advert_Type/Upload/@typeId';
                        var title = "上传广告图片";
                        mwc.window.show(title, url);
                    });

        });

        function ViewModel() {
            var self = this;
            this.Items = ko.observableArray([]);
            //this.GetChoiceItem = function () {
            //    return $('ul.tag-list li.tag.text-warning:eq(0)');
            //};
            //this.GetChoiceValue = function () {
            //    return window.tag.Id;
            //};
            //初始化，加载数据
            this.Init = function() {
                mwc.restApi.get({
                    url: '@Url.Action("ListItems")',
                    data: { Id: '@typeId' },
                    success: function(data) {
                        self.Items(data);
                    }
                });
            };
            this.IsInIframe = function() {
                return window.parent != window.self;
            };
            this.ImageClick = function() {
                if (self.IsInIframe()) {
                    self.Choice(this);
                } else {
                    mwc.window.show(this.Name, this.url, null, null, true);
                }
            };
            @*this.Choice = function (data) {
                if (parent.choice) {
                    parent.choice(data, '@resType.ToString()');
                }
                mwc.window.closeSeft();
            };
            this.ItemClick = function () {
                if (self.IsInIframe()) {
                    self.Choice(this);
                } else {
                    mwc.window.show(this.Name, this.SiteUrl);
                }
            };*@
            this.Delete = function() {
                var model = this;
                mwc.message.confirm("确定要删除么？",
                    function(result) {
                        if (result) {
                            mwc.restApi.delete({
                                url: '@Url.Action("Delete")',
                                data: { id: model.Id },
                                success: function(data) {
                                    mwc.notify.success(data.Message);
                                    self.Init();
                                }
                            });
                        }
                    });
            };
            this.Init();
        }
    </script>
}